body {
  margin: 0;
  padding: 0;
  background-color: #9accca;
  color: darkgreen;
}

/*nav styling*/
.nav ul {
  list-style: none;
  background-color: #00bfa5;
  text-align: right;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 10px;
  margin-left: 15px;
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: darkgreen;
}

.logo {
  float: left;
  height: 40px;
}

.play {
  margin-right: 30px;
}

/*splash page styling*/
.splash {
  text-align: center;
}
.first{
  animation-delay:1s;
}

.second{
  animation-delay:2s;
}

.hero {
  display: block;
  margin: 0 auto;
  animation-delay: 3.5s;
  padding-bottom: 15px;
}

.title-top {
  padding-top: 15px;
}

/*general styling*/
p {
  background-color: #00bfa5;
  padding: 10px;
}

.about-ul {
  list-style: none;
}

/*game controls*/
.top-ctrl {
  border: 3px solid darkgreen;
  height:100px;
  width:100px;
  margin: 0px 3px 3px 3px;
}
.dir {
  border: 3px solid darkgreen;
  height:66px;
  width:66px;
  margin: 0px 1px 1px 1px;
  padding: 0;
}

.controls {
  padding-top: 53px;
}

/*fonts*/
a{
  color: darkgreen;
}
@font-face {
    font-family: 'agentorange';
    src: url('../fonts/agentorange.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dakyFont {
  font-family: agentorange;
  color: darkgreen;
}
