body {
  margin: 0;
  padding: 0;
}

/*nav styling*/
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: right;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 10px;
  margin-left: 15px;
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.logo {
  float: left;
  height: 40px;
}

.play {
  margin-right: 30px;
}

/*splash page styling*/
.splash {
  text-align: center;
}
.first{
  animation-delay:1s;
}

.second{
  animation-delay:2s;
}

.hero {
  display: block;
  margin: 0 auto;
  animation-delay: 3.5s;
  padding-bottom: 15px;
}

.title-top {
  padding-top: 15px;
}

/*general styling*/
.title {
  text-align: center;
}

.about-ul {
  list-style: none;
}

/*fonts*/
@font-face {
    font-family: 'agentorange';
    src: url('../fonts/agentorange.ttf') format('truetype');
    /*font-weight: normal;
    font-style: normal;*/
}

.daky {
  font-family: agentorange;
  color: green;
}
